.contact-page {
  .contact-body {
    width: 100%;
    height: 600px;

    position: relative;
    top: 0;
    left: 0;

    &.in {
      .contact-mail {
        margin-left: 0;
        transform: translate3d(0, 0, 0);
      }

      .contact-info {
        margin-right: 0;
        transform: translate3d(0, 0, 0);
      }
    }

    .contact-animation {
      box-sizing: border-box;
      padding: 0 25px;
      transition: margin, transform linear .3s;
    }

    h1 {
      margin: 0;
      font-size: 30px;
      font-weight: bold;
      padding: 20px 0 10px 0;
      border-bottom: 1px solid #5dc1cf;
    }

    .contact-content-box {
      max-width: 540px;
    }

    .contact-mail {
      position: absolute;
      top: 0;
      left: 100px;

      width: 50%;
      height: 100%;

      margin-left: -100px;

      transform: translate3d(-100%, 0, 0);

      table {
        table-layout: fixed;
        border-collapse: collapse;
        border: none;

        tr, td {
          padding: 0;
          margin: 0;
        }

        input {
          width: 260px;
          height: 40px;
          box-sizing: border-box;

        }

        textarea {

        }
      }

      .contact-content-box {
        position: absolute;
        top: 0;
        right: 0;

        width: 100%;
      }
    }

    .contact-info {
      position: absolute;
      top: 0;
      right: -100px;

      width: 50%;
      height: 100%;

      margin-right: 100px;

      transform: translate3d(100%, 0, 0);

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        color: #27425E;
        font-size: 18px;
        line-height: 2;
      }
    }
  }
}