.contact-page {
  position: relative;
  top: 0;
  left: 0;

  width: 100%;
  height: 800px;

  .contact-page-bg {
    width: 2560px;
    height: 800px;

    position: absolute;
    top: 50%;
    left: 50%;

    margin-top: -400px;
    margin-left: -1280px;
  }

  .contact-page-content {
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    .contact-body {
      width: 1080px;
      height: 550px;

      overflow: hidden;

      display: flex;
      justify-content: space-between;

      margin: 0 auto;

      &.in {
        .contact-mail {
          transform: translate3d(0, 0, 0);
        }

        .contact-info {
          transform: translate3d(0, 0, 0);
        }
      }

      .contact-animation {
        transition: transform linear .3s;
      }

      h1 {
        color: #27425E;
        margin: 0;
        font-size: 30px;
        font-weight: bold;
        padding: 20px 0 10px 0;
        border-bottom: 1px solid #5dc1cf;
      }

      .contact-mail {
        width: 640px;
        height: 100%;

        transform: translate3d(-100%, 0, 0);

        table {
          table-layout: fixed;
          border-collapse: collapse;
          border: none;

          tr, td {
            padding: 0;
            margin: 0;
            font-size: 0;
          }

          td {
            padding-top: 17px;
          }

          input, textarea {
            font-size: 16px;
            padding: 5px;
            box-sizing: border-box;
            border: 1px solid #b6b6b6;
            border-radius: 3px;
            outline: none;

            &:HOVER {
              border-color: #999 #b3b3b3 #b3b3b3 #999;
            }

            &:FOCUS {
              border-color: #5dc1cf;
            }
          }

          input {
            width: 300px;
            height: 50px;

            &:last-child {
              margin-left: 10px;
            }
          }

          textarea {
            width: 610px;
            height: 250px;
            resize: none;
          }

          .submit-button {
            color: #5DC1CF;
            border: 1px solid #5DC1CF;
            padding: 7px 20px;
            border-radius: 3px;
            background: none;

            position: relative;
            top: 0;
            left: 0;

            text-decoration: none;
            font-size: 16px;
            font-family: Raleway;

            cursor: default;

            >span {
              position: relative;
              top: 0;
              height: 0;
              z-index: 2;
            }

            &:HOVER {
              &:before {
                height: 75%;
              }
            }

            &:before {
              transition: height .3s;

              content: '';
              display:block;
              position: absolute;
              top: 50%;
              left: 50%;
              width: 100%;
              height: 0;
              background: rgba(255, 255, 255, .5);
              transform: translate(-50%, -50%);
              z-index: 1;
            }
          }
        }

        .contact-content-box {
          width: 100%;
        }
      }

      .contact-info {
        width: 400px;
        height: 100%;

        transform: translate3d(100%, 0, 0);

        ul {
          list-style: none;
          margin: 0;
          padding: 0;

          color: #27425E;
          font-size: 18px;
          line-height: 2;
        }
      }
    }
  }
}