.home-page {
  overflow: hidden;

  .home-content {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 600px;
    height: 400px;

    margin-top: -200px;
    margin-left: -500px;

    text-align: right;
    color: #ffffff;

    z-index: 2;
    font-size: 16px;

    h1, h2 {
      padding: 0;
      margin: 0;
      font-family: Raleway;
    }

    h1 {
      font-size: 40px;
      margin: 20px 0;
    }

    h2, .tlt {
      font-size: 26px;
      font-weight: normal;
      font-family: Raleway;
    }

    p {
      line-height: 2;
    }

    .button-group {
      a {
        position: relative;
        top: 0;
        left: 0;

        display: inline-block;

        text-decoration: none;
        padding: 10px 20px;
        border: 1px solid #ffffff;
        border-radius: 3px;
        color: #ffffff;
        font-size: 16px;
        background: none;
        margin-left: 10px;

        font-family: Raleway;

        cursor: default;

        >span {
          position: relative;
          top: 0;
          height: 0;
          z-index: 2;
        }

        &:HOVER {
          &:before {
            height: 75%;
          }
        }

        &:before {
          transition: height .3s;

          content: '';
          display:block;
          position: absolute;
          top: 50%;
          left: 50%;
          width: 100%;
          height: 0;
          background: rgba(255, 255, 255, .5);
          transform: translate(-50%, -50%);
          z-index: 1;
        }

        &:first-child {
          background: #3cb2bd;
          border-color: #3cb2bd;
        }
      }
    }
  }

  .home-bg {
    position: absolute;

    transform: translate3d(0, 0, 1px) scale(1.1, 1.1);
    animation: home-bg-animation linear 25s alternate infinite;
  }
}

@keyframes home-bg-animation {
  to {
    transform: translate3d(0, 0, 1px) scale(1, 1);
  }
}