.home-page {
  overflow: hidden;

  .home-content {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 600px;
    height: 400px;

    margin-top: -200px;
    margin-left: -500px;

    text-align: right;
    color: #ffffff;

    z-index: 2;
    font-size: 16px;

    h1, h2 {
      padding: 0;
      margin: 0;
    }

    h1 {
      font-size: 40px;
      margin: 20px 0;
    }

    h2, .tlt {
      font-size: 26px;
    }

    p {
      line-height: 2;
    }
  }

  .home-bg {
    position: absolute;

    transform: translate3d(0, 0, 1px) scale(1.1, 1.1);
    //animation: home-bg-animation linear 25s alternate infinite;
  }
}

@keyframes home-bg-animation {
  to {
    transform: translate3d(0, 0, 1px) scale(1, 1);
  }
}