.home-page {
  .home-content {
    width: 700px;
    height: 500px;

    font-size: 16px;

    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 2;

    text-align: right;
    color: #ffffff;

    h1 {
      font-size: 2.5em;
    }

    .tlt {
      font-size: 1.5em;
    }

    .key {
      color: #5DC1CF;
    }

    p {
      line-height: 2.7;
    }

    button {
      margin-top: 30px;
      padding: 14px 30px;
      margin-left: 30px;
      background: transparent;
      font-size: 20px;
      color: #ffffff;
      border: 1px solid #ffffff;
      border-radius: 4px;

      &:first-child {
        border-color: #42b0bd;
        background-color: #42b0bd;
      }
    }
  }

  .home-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;

    width: 1360px;
    height: 680px;

    margin-left: -680px;
    margin-top: -340px;

    transform-origin: 50% 50%;
    transform: scale(1.1, 1.1);

    animation: home-bg-animation 30s linear   alternate infinite;
  }
}

@keyframes home-bg-animation {
  to {
    transform: scale(1, 1);
  }
}