.work-page {
  .work-content {
    width: 100%;
    height: 362px;
    background: #ffffff;

    .work-body {
      width: 1080px;
      height: 100%;
      overflow: hidden;

      margin: 0 auto;

      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      color: #ffffff;

      .work-box {
        width: 539px;
        height: 180px;

        box-sizing: border-box;
        padding: 20px;

        background-size: 539px 180px;

        h1, h2 {
          padding: 0;
          margin: 0;
        }

        h1 {
          font-size: 24px;
          padding-bottom: 10px;
          border-bottom: 2px solid #ffffff;
          display: inline-block;
        }

        h2 {
          padding-top: 10px;
          font-size: 16px;
          font-weight: normal;
        }

        &.work-box-lt {
          background-image: url('/assets/images/work/lt.jpg');
        }

        &.work-box-rt {
          background-image: url('/assets/images/work/rt.jpg');
        }

        &.work-box-lb {
          margin-top: 2px;
          background-image: url('/assets/images/work/lb.jpg');
        }

        &.work-box-rb {
          margin-top: 2px;
          background-image: url('/assets/images/work/rb.jpg');
        }
      }
    }
  }
}