.contact-page .contact-body {
  width: 100%;
  height: 600px;
  position: relative;
  top: 0;
  left: 0; }
  .contact-page .contact-body.in .contact-mail {
    margin-left: 0;
    transform: translate3d(0, 0, 0); }
  .contact-page .contact-body.in .contact-info {
    margin-right: 0;
    transform: translate3d(0, 0, 0); }
  .contact-page .contact-body .contact-animation {
    box-sizing: border-box;
    padding: 0 25px;
    transition: margin, transform linear 0.3s; }
  .contact-page .contact-body h1 {
    margin: 0;
    font-size: 30px;
    font-weight: bold;
    padding: 20px 0 10px 0;
    border-bottom: 1px solid #5dc1cf; }
  .contact-page .contact-body .contact-content-box {
    max-width: 540px; }
  .contact-page .contact-body .contact-mail {
    position: absolute;
    top: 0;
    left: 100px;
    width: 50%;
    height: 100%;
    margin-left: -100px;
    transform: translate3d(-100%, 0, 0); }
    .contact-page .contact-body .contact-mail table {
      table-layout: fixed;
      border-collapse: collapse;
      border: none; }
      .contact-page .contact-body .contact-mail table tr, .contact-page .contact-body .contact-mail table td {
        padding: 0;
        margin: 0; }
      .contact-page .contact-body .contact-mail table input {
        width: 260px;
        height: 40px;
        box-sizing: border-box; }
    .contact-page .contact-body .contact-mail .contact-content-box {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%; }
  .contact-page .contact-body .contact-info {
    position: absolute;
    top: 0;
    right: -100px;
    width: 50%;
    height: 100%;
    margin-right: 100px;
    transform: translate3d(100%, 0, 0); }
    .contact-page .contact-body .contact-info ul {
      list-style: none;
      margin: 0;
      padding: 0;
      color: #27425E;
      font-size: 18px;
      line-height: 2; }
