.service-page .service-content {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px; }
  .service-page .service-content .service-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 2560px;
    height: 500px; }
  .service-page .service-content .service-list {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 2;
    list-style: none;
    display: flex;
    margin: 0;
    margin-left: -540px;
    padding: 0;
    width: 1080px;
    height: 100%; }
    .service-page .service-content .service-list li {
      flex: 1;
      position: relative;
      top: 0;
      left: 0;
      overflow: hidden;
      border-right: 1px dashed #ffffff; }
      .service-page .service-content .service-list li:last-child {
        border-right: none; }
      .service-page .service-content .service-list li:HOVER .hover-box {
        opacity: 1; }
      .service-page .service-content .service-list li .normal-box {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .service-page .service-content .service-list li .normal-box .icon-box {
          height: 120px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center; }
          .service-page .service-content .service-list li .normal-box .icon-box > label {
            font-weight: bold;
            font-size: 18px;
            color: #333366; }
          .service-page .service-content .service-list li .normal-box .icon-box .icon-inner-box {
            display: flex;
            height: 80px;
            justify-items: center;
            align-items: center; }
        .service-page .service-content .service-list li .normal-box > p {
          padding: 20px 0 0 0;
          border-top: 2px solid #5dc1cf;
          margin: 20px;
          line-height: 2;
          color: #333366;
          font-size: 16px; }
      .service-page .service-content .service-list li .hover-box {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: opacity ease-in 0.3s;
        color: #fff;
        opacity: 0; }
        .service-page .service-content .service-list li .hover-box > .bg {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          transform: translate3d(0, 0, 0); }
        .service-page .service-content .service-list li .hover-box > p {
          cursor: default;
          line-height: 2;
          box-sizing: border-box;
          padding: 20px 10px;
          margin: 0;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2; }
