.service-page .service-head {
  width: 100%;
  height: 200px;
  text-align: center;
  background: #fcfcfc;
  color: #27425E; }
  .service-page .service-head h1 {
    font-size: 2.7em;
    padding: 50px 0 20px 0;
    margin: 0; }
  .service-page .service-head h2 {
    font-size: 1.5em;
    margin: 0;
    padding: 0; }

.service-page .service-body {
  width: 100%;
  height: 600px;
  overflow: hidden;
  background: url("/assets/images/service/bg.jpg") no-repeat 0 0;
  background-size: 1350px 600px;
  line-height: 3; }
  .service-page .service-body .service-content {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-around; }
    .service-page .service-body .service-content li {
      flex: 1;
      width: 200px;
      height: 100%;
      border-right: 1px dashed #ffffff;
      cursor: default;
      position: relative;
      top: 0;
      left: 0; }
      .service-page .service-body .service-content li:HOVER .hover-box {
        opacity: 1; }
      .service-page .service-body .service-content li:last-child {
        border-right: none; }
      .service-page .service-body .service-content li .normal-box, .service-page .service-body .service-content li .hover-box {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        box-sizing: border-box;
        padding: 50px 30px; }
      .service-page .service-body .service-content li .normal-box {
        z-index: 1; }
        .service-page .service-body .service-content li .normal-box .icon-box {
          width: 180px;
          height: 160px;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
          border-bottom: 2px solid #00989C; }
          .service-page .service-body .service-content li .normal-box .icon-box label {
            font-weight: bold; }
        .service-page .service-body .service-content li .normal-box p {
          padding: 0;
          padding-top: 50px;
          margin: 0; }
      .service-page .service-body .service-content li .hover-box {
        z-index: 2;
        transition: opacity ease-in 0.2s;
        opacity: 0;
        color: #ffffff;
        background: url("/assets/images/service/hover-bg.jpg") no-repeat 0 0;
        background-size: 350px 600px; }
