.work-page .work-content {
  width: 100%;
  height: 362px;
  background: #ffffff; }
  .work-page .work-content .work-body {
    width: 1080px;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #ffffff; }
    .work-page .work-content .work-body .work-box {
      width: 539px;
      height: 180px;
      box-sizing: border-box;
      padding: 20px;
      background-size: 539px 180px; }
      .work-page .work-content .work-body .work-box h1, .work-page .work-content .work-body .work-box h2 {
        padding: 0;
        margin: 0; }
      .work-page .work-content .work-body .work-box h1 {
        font-size: 24px;
        padding-bottom: 10px;
        border-bottom: 2px solid #ffffff;
        display: inline-block; }
      .work-page .work-content .work-body .work-box h2 {
        padding-top: 10px;
        font-size: 16px;
        font-weight: normal; }
      .work-page .work-content .work-body .work-box.work-box-lt {
        background-image: url("/assets/images/work/lt.jpg"); }
      .work-page .work-content .work-body .work-box.work-box-rt {
        background-image: url("/assets/images/work/rt.jpg"); }
      .work-page .work-content .work-body .work-box.work-box-lb {
        margin-top: 2px;
        background-image: url("/assets/images/work/lb.jpg"); }
      .work-page .work-content .work-body .work-box.work-box-rb {
        margin-top: 2px;
        background-image: url("/assets/images/work/rb.jpg"); }
