.work-page .work-content {
  width: 100%;
  height: 402px;
  background: #ffffff; }
  .work-page .work-content .work-body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #ffffff; }
    .work-page .work-content .work-body .work-top, .work-page .work-content .work-body .work-bottom {
      width: 100%;
      height: 200px;
      display: flex; }
    .work-page .work-content .work-body .work-box {
      width: 50%;
      height: 200px;
      box-sizing: border-box;
      padding: 20px;
      position: relative;
      top: 0;
      left: 0;
      overflow: hidden; }
      .work-page .work-content .work-body .work-box:first-child {
        border-right: 1px solid #ffffff; }
      .work-page .work-content .work-body .work-box:last-child {
        border-left: 1px solid #ffffff; }
      .work-page .work-content .work-body .work-box img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 1280px;
        height: 200px; }
      .work-page .work-content .work-body .work-box h1, .work-page .work-content .work-body .work-box h2 {
        position: relative;
        top: 0;
        left: 0;
        z-index: 2;
        padding: 0;
        margin: 0; }
      .work-page .work-content .work-body .work-box h1 {
        font-size: 24px;
        padding-bottom: 10px;
        border-bottom: 2px solid #ffffff;
        display: inline-block; }
      .work-page .work-content .work-body .work-box h2 {
        padding-top: 10px;
        font-size: 16px;
        font-weight: normal; }
