.home-page {
  .home-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    img {
      transform-origin: 50% 50%;
      transform: scale(0.8, 0.8) translate(-442.5px, -237.5px);
      //animation: home-bg-animation 80s alternate infinite;
    }
  }

  .home-content {
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 2;
    color: #FFFFFF;
    width: 650px;
    text-align: right;
    font-size: 16px;

    h1 {
      margin: 20px 0;
      font-size: 2.5em;
      font-weight: bold;

      .key {
        color: #5DC1CF;
      }
    }

    .tlt, h2 {
      margin: 0;
      font-size: 2em;
    }

    p {
      line-height: 2.5;
    }

    button {
      color: #FFFFFF;
      background: transparent;
      border: 1px solid #FFFFFF;
      border-radius: 3px;
      padding: 10px 15px;
      font-size: 1em;

      &:first-child {
        background: #42BDBA;
        border-color: #42BDBA;
        margin-right: 20px;
      }
    }
  }
}

@keyframes home-bg-animation {
  to {
    transform: scale(0.703125, 0.703125) translate(-503.47px, -277.33px);
  }
}