.welcome-box {

  .welcome-content {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    z-index: 2;

    .welcome-text {
      width: 1280px;
      height: 383px;

      margin: 150px auto;

      position: relative;
      top: 0;
      left: 0;

      svg {
        transition: opacity linear 0.3s;

        position: absolute;
        top: 0;
        left: 0;

        &.welcome-image {
          opacity: 1;

          * {
            fill: none !important;
            stroke: #ffffff !important;
          }
        }

        &.finall-welcome-image {
          opacity: 0;

          * {
            fill: #ffffff!important;
            stroke: none!important;
          }
        }
      }
    }

    .entry-btn {
      cursor: pointer;
      font-size: 18px;
      transition: bottom ease-out 0.3s;
      color: #ffffff;

      &.show {
        bottom: 30px;
      }

      &:HOVER {
        >p {
          color: #333366;
        }
      }

      display: inline-flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      width: 256px;
      height: 130px;

      position: absolute;
      bottom: -130px;
      left: 50%;

      margin-left: -128px;

      .entry-icon-wrap {
        width: 42px;
        height: 50px;

        position: relative;
        top: 0;
        left: 0;

        img {
          position: absolute;
          top: 0;
          left: 0;

          width: 100%;
          height: 100%;

          transition: opacity ease-out .3s;

          &.entry-icon {
            opacity: 1;
          }

          &.entry-hover-icon {
            opacity: 0;
          }
        }
      }

      p {
        margin: 0;
        padding: 0;
        white-space: nowrap;

        transition: color ease-out .3s;
      }

      .scroll-down {
        animation: scroll-down-animation linear 2s infinite alternate;

        transition: border-color ease-out .3s;

        display: block;
        width: 10px;
        height: 10px;
        border: 2px solid #ffffff;
        border-width: 0 0 2px 2px;
        transform: rotate(-45deg);
        transform-origin: 50% 50%;
      }
    }
  }

  .welcome-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 2560px;

    z-index: 1;
  }
}

@keyframes welcome-bg-animation {
  to {
    transform: translate3d(-200px, 0, 0);
  }
}

@keyframes scroll-down-animation {
  0% {
    transform:  translate3d(0, 0, 0) rotate(-45deg);
  }

  20% {
    transform:  translate3d(0, 0, 0) rotate(-45deg);
  }

  50% {
    transform: translate3d(0, -10px, 0) rotate(-45deg);
  }

  80% {
    transform: translate3d(0, 0px, 0) rotate(-45deg);
  }

  100% {
    transform: translate3d(0, 0, 0) rotate(-45deg);
  }
}