.banner {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: 100px;
  overflow: hidden; }
  .banner:after {
    content: '';
    width: 30px;
    height: 25px;
    position: absolute;
    top: 37.5px;
    right: 50px;
    z-index: 1;
    background: url("/assets/images/hotspot.png") no-repeat 0 0;
    background-size: 30px 25px; }
  .banner.visible .inner-banner {
    transform: translateY(0); }
  .banner .inner-banner {
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 10px 0;
    transform: translateY(-100px);
    background: #fff;
    display: flex;
    align-items: center; }
    .banner .inner-banner .main-logo {
      flex: 2; }
    .banner .inner-banner .nav {
      flex: 8;
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .banner .inner-banner .nav li {
        flex: 1;
        font-style: italic;
        font-weight: bold;
        text-align: center; }
        .banner .inner-banner .nav li a {
          transition: all linear 0.2s;
          cursor: pointer; }
          .banner .inner-banner .nav li a:HOVER {
            color: #5DC1CF; }
        .banner .inner-banner .nav li.active {
          color: #5DC1CF; }
        .banner .inner-banner .nav li:last-child {
          color: #00B0A1;
          border-left: 1px solid #00A4A6;
          flex: 2; }
