::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: #fff; }

::-webkit-scrollbar-track {
  background: #fff;
  border-left: 1px solid rgba(118, 118, 118, 0.6); }

::-webkit-scrollbar-thumb {
  border: 1px solid rgba(118, 118, 118, 0.6);
  background: #fff; }
